
body{
  font-size: 22px;
  line-height: 1.5em;
  
}
img{
  max-width: 800px;
  height: initial;
  
  
  
}
section{
  display: flex;
  padding: 0.9rem;
}
.text{
  padding-left: 3em;
  
  max-width: 40ch;
  
  /* font size */
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 2.5rem); 
  font-family: 'Lato', Franklin Gothic Medium, Arial Narrow, sans-serif;
  
  /* color */
}

.text h1{
  color: hsl(33, 72%, 39%);
}
a:hover{
  color: black;
}


@media only screen and (max-width: 60em){
  
  img{
    max-width: 100%;
    height: auto;
  }
  section{
    display: inline-block;
    
}
.text{
  display: inline;
  text-align: center;
}
}