*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* page title */
h1{
  color: brown;
  font-size: clamp(1rem, 10vw, 4rem); 
  text-align: center;
  
}
/* parent */
section{
  width: 100%;
}

/* rows */
section .rows{
  max-width: auto;
  /* margin: auto; */
}

/* title in the rows */
.title{
  margin: auto;
  text-align: center;
}
.card img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  
}


/* card parent */
.content{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 2fr 2fr 2fr 4fr;
  
 
}

/* card holder */
.card{
  flex: 1;
  margin: 2rem 1.5rem;
}

/* border box only on images */
.card:nth-child(-n+3){
  box-shadow: 0px 0px 7px 0px darkred;

}
/* inside card title 2 */
.title h2{
  font-size: clamp(1.5rem, 2.5vw, 4rem); 
  font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
}


/* inside card title */
.content h4 {
    padding: 1rem;
    font-size: clamp(1rem, 2.5vw, 1.5rem); 
    color: hsla(0, 93%, 30%, 0.788);
}


  /* inside card paragraph */
.content p{
  font-size: clamp(1rem, 2vw, 1.2rem); 
    color: rgb(26, 4, 4);
    line-height: 1.5;
    padding: 1em;
} 

/* first three children of card element */
.card:nth-child(-n+3):hover{
  background-color: aquamarine;
  cursor: pointer;

}

/* hover on image cards only */
.card iframe{
  width: 100%;
  border: none;
}

@media only screen and (max-width: 60em){
  
  .content{
    display: flex;
    flex-direction: column;
  }
}