.contact{
  height: 100vh;
  
}


main{
  
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
h1, h3, p{
  text-align: center; 
}

form{
  
  display: grid;
  
  grid-template-columns: max-content .5fr;
  grid-template-rows: 3rem 3rem 5rem;
  padding: 5em;
  gap: 1em;
  padding: 2em;
  
  
  font-size: clamp(1.5rem, 2vw, 4rem); 
  color: hsl(150, 90%, 90%);;
}

.label {
  grid-template-columns: subgrid;
  display: grid;
  grid: inherit;
  grid-gap: inherit;
  grid-template-columns: subgrid;
  grid-column: span 2;
  
}
label{
  cursor: pointer;
  
}
input, textarea{
  border: 3px solid hsl(36, 69%, 30%);
  border-radius: 5px;
  padding: 0.5em;
  font-size: clamp(1rem, 1.5vw, 2rem); 
}
button{
  font-size: clamp(1.5rem, 2vw, 4rem); 
  background-color: rgb(17, 59, 71);
  border: none;
  border-radius: 5px;
  color: hsl(170, 30%, 80%);
}
button:hover{
  background-color: rgb(21, 25, 26);
  color: rgba(235, 235, 235, 0.733);
  cursor: pointer;
}
