.gallery{
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  padding: 0.5rem 2rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  margin: auto;
}

.gallery > * {
  scroll-snap-align: end;
}

.media-group {
  display: grid;
  grid-auto-flow: column;
  gap: 1.5rem;
  
}
.media-element{
  margin: 0;
  display: grid;
  grid-template-rows: min-content;
  gap: 0.2rem;
  padding: 1em;
  background-color: rgba(126,126,126,1);
  border-radius: 15px;
  
}
.media-element > img{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  
}

/* cta cards */
h3{
  color: hsl(170, 30%, 80%);
}

.media-element:hover {
  background-color: #1b6b70;
}
.media-element h3, p{
  text-decoration: none;
  color: black;
}

button{
  display: flex;
  justify-content: flex-end;
  
  font-size: clamp(1rem, 1.9vw, 3rem); 
  background-color: aqua;
  /* background: none; */
  border: none;
  border-radius: 5px;
}

button:hover{
  background-color: rgba(0, 183, 255, 0.911);
  cursor: pointer;
}

a{
  text-decoration: none;
  font-family: 'Lato', Franklin Gothic Medium, Arial Narrow, sans-serif;
}