 body{
  font-size: 22px;
  line-height: 1.1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  box-sizing: border-box;
  
 }

 /* main header */
main{
  
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(57,171,139,1) 0%, rgba(73,77,76,1) 30%, rgba(172,163,163,1) 63%, rgba(222,255,226,1) 100%);
  
}
 h1{
  
  font-family: 'Carter One', Franklin Gothic Medium , Arial Narrow, sans-serif ;
  
 }
 

 h1 {
  margin: 0;
  padding: 0.8em;
 }

/* header and navigation start */
header{
  display: flex;
  justify-content: space-between;
  
  
  background: radial-gradient(circle, rgba(46,46,46,1) 0%, rgba(126,126,126,1) 100%);
  
}

.logo{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.logo img{
  width: 4rem;
  margin-right: 0.5em;
  margin-left: 0.8em;
  mix-blend-mode: hard-light;
}
a{
  text-decoration: none;
}
.logo .site-title {
  font-family: 'Modern Antiqua', Verdana, Geneva, Tahoma, cursive, sans-serif;
  font-size: clamp(1.5rem, 3.5vw, 4rem); 
  
  color: hsl(170, 30%, 80%);
  
}

.main-nav{
  display: flex;
  
  list-style: none;
  font-family: 'Lato', Franklin Gothic Medium, Arial Narrow, sans-serif;
  font-size: clamp(1rem, 2.5vw, 1.5rem); 
}

.main-nav a{
  display: block;
  padding: 1em;
  
  
  color: hsl(170, 20%, 90%);
}

.main-nav a:hover {
  text-transform: uppercase;
}

/* header and navigation end */


/* footer */

footer{
  background-color: darkcyan;
  margin: 0;
}

.footer-nav{
  margin: 0;
  list-style: none;
  padding: 1em;
  width: max-content;
  height: max-content;
}
nav{
  width: max-content;
}
.footer-nav a{
  color: black;
  padding: 0.5em;
  display: inline-block;

}
.copy-right{
  display: flex;
  justify-content: space-evenly;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(0.5rem, 2vw, 1rem); 
  
} 
.social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3em;
  gap: 1em;
}

.nav-media{
  display: flex;
  justify-content: space-between;
}
.social-media i {
  font-size: 3rem;
}
