body{
  font-family: 'Roboto Condensed', Gill Sans MT, Calibri Trebuchet MS, sans-serif;
  font-size: clamp(1.5rem, 1.5vw, 2rem); 
}

h1{
  text-align: center;
  
}
p{
  max-width: 80ch;
  padding-left: 2rem;
  
}
h2{
  padding-left: 2rem;
}
